@charset "utf-8";
@import "compass/reset";
@import "compass/css3/images";
@import "fonts";
@import "solarized";
@import "colors";

html {
  @include background(image-url("noise.png"), radial-gradient(top
  center, circle, $light-green 0%, $dark-green 750px));
}

pre {
  font-family: "Consolas";
}

body {
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: $orange;

  &:hover {
    color: $purple;
  }
}

h1 {
  font-size: 24px;
  margin: 20px 0 10px 0;
  font-weight: bold;
  color: $purple;

  code:not(.highlight) {
    color: $orange;
  }
}

h1:first-child {
  margin-top: 0;
}

h2 {
  font-size: 18px;
  margin: 15px 0 5px 0;
  color: $purple;
  font-weight: bold;

  code:not(.highlight) {
    color: $orange;
  }
}

code:not(.highlight) {
  font-family: Consolas;
  color: $purple;
}

main {
  display: flex;
  flex-direction: column;

  width: 900px;
  margin-bottom: 10px;

  background-color: $cream;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px $dark-green;

  p:first-child {
    color: $light-green;
    font-weight: 500;
    margin-top: 3px;
    padding-bottom: 15px;
    border-bottom: 1px solid $second-green;
    text-align: center;

    a {
      color: $dark-green;

      &:hover {
        color: $second-green;
      }
    }
  }

  p, ul {
    color: $dark-green;
    margin: 10px 0;
    line-height: 150%;
  }

  ul {
    margin-left: 20px;
  }

  li {
    list-style-type: disc;
  }

  strong {
    font-weight: bold;
  }
}

img.logo {
  align-self: center;
  margin-bottom: 10px;
}

pre {
  background: $beige;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid lighten(#93a1a1, 20%);
  border-radius: 4px;
  line-height: 120%;
}

footer {
  margin-top: 10px;
  border-top: 1px solid $purple;
  padding-top: 10px;
  width: 900px;
  text-align: center;

  a {
    color: $purple;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
